################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/PotterShoppingCart.Tests/bin/Debug
/PotterShoppingCart.Tests/obj/Debug
